# Create a virtual environment 
# python -m venv myenv

# Activate the virtual environment

# Windows
# myenv\Scripts\activate
# macOS and Linux
# source myenv/bin/activate


numpy>=2.0.0
matplotlib>=3.9.1
pandas>=2.2.2
scikit-learn>=1.5.1

#pip freeze



