# Create a virtual environment 
python -m venv myenv

# Activate the virtual environment

# Windows
myenv\Scripts\activate
# macOS and Linux
source myenv/bin/activate

pip install numpy
pip install matplotlib.pyplot
pip install pandas


